REACT_APP_NETWORK=poa
REACT_APP_NETWORKS='{"poa":{"id": 77, "jsonRpcProvider": "https://sokol.poa.network", "currency": "xPoa", "explorerUrl": "https://blockscout.com/poa/sokol/tx/", "bzz":{"address":"0xe14848E35424aff947E5aF94f9196538149a72fB", "name":"sBZZ"}},"xdai":{"id": 100, "jsonRpcProvider": "https://gno.getblock.io/mainnet/?api_key=243ac6b9-e198-4dc8-a7df-ab493ec7b7cd", "currency":"xDai"}}'
