.App {

}

.App-loading {
    margin-top: 20px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.container {
    padding-top: 30px;
}

details p {
    margin-bottom: 0.1rem;
}

.container {
    margin-bottom: 100px;
}
